[submodule "ArchiSteamFarm"]
	path = ArchiSteamFarm
	url = https://github.com/JustArchiNET/ArchiSteamFarm.git
	branch = 6.3.0.2
[submodule "BloomFilter"]
	path = BloomFilter
	url = https://gist.github.com/8c74d66798a21e05a35b0023573f48e9.git
