name: Integration Test

on: 
  push:
    branches:
      - main
  schedule:
    - cron: '55 22 */3 * *'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  DOTNET_SDK_VERSION: 6.0.x

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  integration:
    concurrency:
      group: integration
    if: github.actor == github.repository_owner
    strategy:
      max-parallel: 1 # only 1 else asf may crash due to parallel login using the same config file
      matrix:
        configuration: [Release]
        asf_docker_tag: [latest, main, released]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.1.0
      timeout-minutes: 5
      with:
        submodules: recursive

    - name: Setup .NET Core
      timeout-minutes: 5
      uses: actions/setup-dotnet@v3.0.2
      with:
        dotnet-version: ${{ env.DOTNET_SDK_VERSION }}

    - name: Verify .NET Core
      run: dotnet --info

    - name: Build ${{ matrix.configuration }}
      run: dotnet build -c "${{ matrix.configuration }}" -p:ContinuousIntegrationBuild=true -p:UseAppHost=false --nologo

    - name: Populate config.zip
      shell: python
      run: |
        import base64

        data = rb'''${{ secrets.CONFIGZIP_B64 }}'''
        with open('config.zip', 'wb') as f:
          f.write(base64.b64decode(data))

    - name: Extract config.zip
      run: unzip config.zip

    - name: Create plugin dir
      run: |
        mkdir -p plugins/ASFFreeGames
        cp --archive -f ASFFreeGames/bin/${{ matrix.configuration }}/*/ASFFreeGames.* plugins/ASFFreeGames/
        du -h plugins

    - name: run docker
      shell: python
      timeout-minutes: 60
      run: | 
        import subprocess
        import sys

        cmd = r"""docker run -e "ASF_CRYPTKEY=${{ secrets.ASF_CRYPTKEY }}" -v `pwd`/config:/app/config -v `pwd`/plugins:/app/plugins --name asf --pull always justarchi/archisteamfarm:${{ matrix.asf_docker_tag }}"""

        with open('out.txt', 'ab+') as out, subprocess.Popen(cmd, shell=True, stdout=out, stderr=out) as process:
            def flush_out() -> str:
              out.flush()
              out.seek(0)
              output = out.read()
              output = output.decode()
              print(output)
              return output

            exit_code = None
            try:
                exit_code = process.wait(timeout=120)
            except (TimeoutError, subprocess.TimeoutExpired):
                print("Process reached timeout as expected")
                process.kill()
                exit_code = process.wait(timeout=10)
                if exit_code is None:
                    process.terminate()
                output = flush_out()
                assert 'CollectGames() [FreeGames] found' in output, "unable to start docker with ASFFreeGames installed"
                sys.exit(0)

            print(f'Process stopped earlier than expected with {exit_code} code', file=sys.stderr)
            flush_out()
            if exit_code != 0:
                sys.exit(exit_code)
            sys.exit(111)


    - name: Upload stdout
      continue-on-error: true
      if: always()
      uses: actions/upload-artifact@v3.1.1
      with:
        name: ${{ matrix.configuration }}_${{ matrix.asf_docker_tag }}_stdout
        path: out.txt


